.box {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 0.3em;
    font-weight: 500;
    color: black;
}

.warning {
    border: 1px solid rgb(179, 152, 0);
    background-color: rgb(253, 255, 157);
}

.error {
    border: 1px solid rgb(179, 0, 0);
    background-color: rgb(255, 203, 203);
}

.success {
    border: 1px solid rgb(0, 112, 28);
    background-color: rgb(157, 255, 194);
}

.hidden {
    visibility: hidden;
}

#intro {
    height: 400px;
}

#score {
    height: 400px;
}

.score-card {
    vertical-align: middle;
    font-size: 35pt;
}

#random-score {
    margin: 0 auto;
    text-align: center;
}

#score1 {
    color:rgb(179, 0, 0);
}

#score2 {
    color:rgb(179, 152, 0)
}

#score3 {
    color:rgb(0, 112, 28)
}