<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Enter YouTube URL</h3>
                <form method="post" action="/download">
                    <label for="url">YouTube URL</label><br>
                    <input type="text" width="400px" id="url" name="url" value="https://www.youtube.com/watch?v=6fchNJT_J1Y"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</body>